// import/export not working on gas
export class Config {
  public app_token = () => ''
  public bot_token = () => 'xoxb-'
  public callback_id = () => 'schega0'
  public webhook_url = () => 'https://hooks.slack.com/services/XXXXXXXXXX'
  public ss_key = () => 'xxxxxx'
}
